.docItemContainer header + *,
.docItemContainer article > *:first-child {
  margin-top: 0;
}

@media (min-width: 997px) {
  .docItemCol {
    max-width: 75% !important;
  }
}
.row {
  max-width: 1180px;
}
@media (max-width: 1700px) {
  .docItemContainer {
    max-width: 890px;
  }
}
@media (min-width: 1700px) {
  .row {
    max-width: 1500px;
  }
}
