.section {
  padding-top: 64px;
  padding-bottom: 64px;
}

.repeatable {
  margin-left: -20px;
  margin-right: -20px;
  display: flex;
  flex-wrap: wrap;
}

.repeatableItemWrap {
  padding-left: var(--ifm-global-spacing);
  padding-right: var(--ifm-global-spacing);
  width: 33%;
  margin-top: 40px;
}
.repeatableItem {
  border-top: 1px solid var(--ifm-blue-900);
  border-bottom: 1px solid var(--ifm-blue-900);
  height: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.repeatableItemText {
  font-size: 24px;
  line-height: 1.25;
  margin-top: 24px;
  margin-bottom: 24px;
  font-weight: 500;
  overflow: hidden;
}

.text {
  font-size: 1rem;
  margin-top: 24px;
}

.caption {
  font-size: 32px;
  font-weight: 500;
}
