.iconLanguage {
  vertical-align: text-bottom;
  margin-right: 5px;
}

.locale {
  height: 100%;
}

.locale > div {
  height: 100%;
  display: flex;
  align-items: center;
  width: 104px;
  justify-content: center;

}

.locale :global(.navbar__link):after {
  content: none !important;
}

.locale :global(.dropdown__menu) {
  right: auto;
}

:global(.navbar-main-page) .locale > div {
  border-left: 1px solid var(--ifm-blue-900);
}
