.howDifficult {
    margin-left: 16px;
    flex-shrink: 0;
}
.caption {
    font-weight: bold;
}
.howDifficultWrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.item {
    border: 6px solid #EDEFF3;
    background-color: #EDEFF3;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    display: inline-block;
}

.active {
    border-color: var(--ifm-blue-500);
    background-color: var(--ifm-orange);
}
