.primary {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

.primary .content {
    display: block;
    text-align: center;
    background: var(--ifm-menu-color-background-active);
    color: white;
    font-weight: 400;
    font-size: 1rem;
    line-height: 62px;
    border: 1px solid var(--ifm-blue-900);
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
    transition: all .34s ease-out;
    overflow: hidden;
    box-shadow: 0 0 var(--ifm-blue-900);
}

.primary .content:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--ifm-green);
    transform: translateX(-100%);
    transition: transform .3s ease-out;
}

.primary .title {
    position: relative;
    white-space: nowrap;
    z-index: 2;
}

.primary.fill {
    width: 100%;
}

.primary:hover {
    text-decoration: none;
}

.primary:hover .content {
    transform: translate(8px, -8px);
    box-shadow: -8px 8px var(--ifm-blue-900);
    color: var(--ifm-blue-900);
}

.primary:hover .content:after {
    transform: translateX(0);
}

.secondary {
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--ifm-blue-500);
    line-height: 1.5;
    display: flex;
    align-items: center;
}
.secondary:hover {
    text-decoration: none;
}

.title {
    border-bottom: 2px solid var(--ifm-orange);
    white-space: nowrap;
}

.secondary:after {
    content: '';
    display: block;
    margin-left: 4px;
    width: 24px;
    height: 24px;
    background-image: url(./arrowright.svg);
}

.primaryButton {
    position: relative;
    width: 100%;
    border: none;
    padding: 0;
}
.primaryButton .contentButton {
    background: #FF7800;
    color: white;
    font-weight: 400;
    font-size: 1rem;
    line-height: 62px;
    border: 1px solid #000C33;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
    transition: all .14s ease-out;
}
.primaryButton:after {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
 }
.primaryButton:hover {
    background: #68E348;
}

.primaryButton:hover .contentButton {
    transform: translate(8px,-8px);
    box-shadow: -8px 8px #000C33;
}

.primaryButton:disabled:hover .contentButton {
    transform: translate(0, 0);
    box-shadow: none;
}

.primaryButton:disabled .contentButton {
    background: #CCD8FF;
    border: 1px solid #B3C5FF;
}
