table {
    font-size: 14px;
}

table thead tr {
    border-bottom: 2px solid var(--ifm-table-border-color);
}

table thead {
    background-color: inherit;
}

table tr {
    background-color: var(--ifm-table-background);
    border-top: none;
    border-bottom: 1px solid var(--ifm-table-border-tr);
}

table tr:nth-child(2n) {
    background-color: var(--ifm-table-background);
}

table th,
table td {
    padding: 16px 8px;
    border: none;
}

table th {
    background-color: inherit;
    text-align: left;
    /*white-space: nowrap;*/
}

table td {
    color: var(--ifm-table-cell-color);
}

code {
    border: none;
    background-color: #F2F6FF;
    border-radius: 6px;
    padding: 4px 10px;
    line-height: 28px;
    font-size: 14px;
}

[data-theme='dark'] code {
    background-color: rgba(51, 102, 255, 0.16);
}

.menu {
    font-size: 14px;
    font-weight: var(--ifm-font-weight-normal);
}
.theme-doc-sidebar-item-link-level-1  .menu__link, .theme-doc-sidebar-item-category-level-1 > div .menu__link {
    font-size: 16px;
    font-weight: var(--ifm-font-weight-bold);
}

.theme-doc-sidebar-item-link-level-1  .menu__link--active, .theme-doc-sidebar-item-category-level-1 > div .menu__link--active {
    color: var(--ifm-link-color);
}

.menu__caret:before, .menu__link--sublist-caret:after {
    background-size: 16px;
}
.menu__link--active:not(.menu__link--sublist) {
    font-weight: normal;
    position: relative;
}
.menu__link--active:not(.menu__link--sublist):before {
    content: '';
    position: absolute;
    left: -100%;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--ifm-menu-color-background-active);
    z-index: -1;
}

.menu__link {
    flex-grow: unset;
    flex-basis: auto;
}
.menu__list-item-collapsible--active {
    background: none;
}
.menu__list {
    display: inline-block;
    min-width: 256px;
}

.markdown > h2 {
    --ifm-h2-font-size: 2.5rem;
    margin-top: 100px;
    margin-bottom: 24px;
}

.markdown > h3 {
    margin-top: 50px;
    margin-bottom: 30px;
}

.markdown ul, ol {
    list-style-type: none;
    padding-left: 0;
}

.markdown li {
    margin-top: 0;
    margin-bottom: var(--ifm-list-item-margin);
    padding-left: 24px;
    padding-right: 5px;
    position: relative;
}
.markdown li p{
    margin-top: 0;
    margin-bottom: 8px;
}
.markdown li + li {
    margin-top: 0;
}

.markdown li::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: var(--ifm-green);
    border: 5px solid var(--ifm-blue-500);
}

.markdown ol {
    counter-reset: index;
}
.markdown ol li {
    padding-left: 40px;
    min-height: 24px;
    margin-bottom: calc(var(--ifm-list-item-margin) * 1.6);
}
.markdown ol li::before {
    counter-increment: index;
    content: counters(index, '.');
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: var(--ifm-green);
    border: 2px solid var(--ifm-blue-500);
    flex-shrink: 0;
    font-weight: var(--ifm-font-weight-bold);
    color: var(--ifm-blue-600);
    text-align: center;
    line-height: 20px;
    top: 2px;
}

.markdown li h3 {
    margin-bottom: 8px;
    line-height: 1.2;
}
.markdown li h3 .hash-link{
    display: none;
}

.markdown .half-item ul{
    display: flex;
    flex-wrap: wrap;
}
.markdown .half-item li{
    width: 50%;
}
.theme-doc-sidebar-container {
    border: none !important;
}
/*.docItemCol_node_modules-\@docusaurus-theme-classic-lib-theme-DocItem-Layout-styles-module {*/
/*    */
/*}*/
.table-of-contents__left-border {
    border: none;
}

