.footer--dark {
    background-color: var(--ifm-blue-900);
}
.footer__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    opacity: .7;
}
.footer__link-item {
    font-size: 14px;
    line-height: 30px;
}
.footer__copyright {
    max-width: 848px;
}
