.markdown ul, ol {
    list-style-type: none;
    padding-left: 0;
}

.markdown li {
    margin-top: 0;
    margin-bottom: var(--ifm-list-item-margin);
    padding-left: 24px;
    padding-right: 5px;
    position: relative;
}

.markdown li p {
    margin-top: 0;
    margin-bottom: 8px;
}

.markdown li + li {
    margin-top: 0;
}

.markdown li::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: var(--ifm-green);
    border: 5px solid var(--ifm-blue-500);
}

.markdown ol {
    counter-reset: index;
}

.markdown ol li {
    padding-left: 40px;
    min-height: 24px;
    margin-bottom: calc(var(--ifm-list-item-margin) * 1.6);
}

.markdown ol li::before {
    counter-increment: index;
    content: counters(index, '.');
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: var(--ifm-green);
    border: none;
    flex-shrink: 0;
    font-weight: var(--ifm-font-weight-bold);
    color: var(--ifm-blue-600);
    text-align: center;
    line-height: 24px;
    top: 2px;
}

.markdown li h3 {
    margin-bottom: 8px;
    line-height: 1.2;
}

.markdown li h3 .hash-link {
    display: none;
}

.markdown .half-item ul {
    display: flex;
    flex-wrap: wrap;
}

.markdown .half-item li {
    width: 50%;
}
