.headCaption {
    vertical-align: top;
    font-size: 10px;
    font-weight: var(--ifm-font-weight-normal);
}
.headCaption.align {
    vertical-align: bottom;
}
.headCaption > div {
    margin-top: 4px;
}
.filterWrap {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
}
.filterItem {
    width: 0;
    flex: 1 0 0;
}
.tableWrap {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.tableWrap table {
    font-size: 12px;
    width: 100%;
}
.tableWrap table th {
    padding: 0;
}
.tableWrap table td {
    vertical-align: top;
}
.tableWrap table td:first-child {
    padding-left: 0;
}
.tableWrap table tr {
    border-bottom-width: 2px;
    border-bottom-color: var(--ifm-table-border-color);
}
.table {
    min-height: 400px;
}
.clearBtn {
    border: 1px solid var(--ifm-blue-300);
    padding: 0;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    flex-shrink: 0;
}
.clearBtn:hover {
    background-color: var(--ifm-blue-500);
    border-color: var(--ifm-blue-500);
}
.clearBtn:hover path{
    stroke: white;
}
