.section {
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: var(--ifm-blue-50);
  border-bottom: 1px solid var(--ifm-blue-900);
  border-top: 1px solid var(--ifm-blue-900);
}

.repeatable {
  margin-top: 64px;
  margin-left: -20px;
  margin-right: -20px;
  display: flex;
}

.repeatableItemWrap {
  padding-left: var(--ifm-global-spacing);
  padding-right: var(--ifm-global-spacing);
  width: 33%;
}
.repeatableItem {
  border-top: 1px solid var(--ifm-blue-900);
  border-bottom: 1px solid var(--ifm-blue-900);
  height: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}

.repeatableItemText {
  font-size: 32px;
  line-height: 1.25;
  margin-top: 32px;
  font-weight: 500;
}



.text {
  font-size: 1rem;
  margin-top: 24px;
}

.caption {
  font-size: 48px;
  font-weight: 500;
}
